
Framework/.vs/PortingTestFramework/v15/.suo
Framework/.vs/PortingTestFramework/v15/Server/sqlite3/db.lock
Framework/.vs/PortingTestFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/PortingTestFramework/v15/Server/sqlite3/storage.ide-shm
Framework/.vs/PortingTestFramework/v15/Server/sqlite3/storage.ide-wal
移植後/.vs/PortingTestFramework/DesignTimeBuild/.dtbcache
移植後/.vs/PortingTestFramework/DesignTimeBuild/.dtbcache
移植後/.vs/PortingTestFramework/v15/.suo
移植後/.vs/PortingTestFramework/v15/Server/sqlite3/storage.ide-shm
移植後/.vs/PortingTestFramework/v15/Server/sqlite3/storage.ide-wal
